name: Push Helm Chart to Artifact Registry

on: 
  push:
    tags:
      - '*'

jobs:
  helm-package-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v3

      - id: auth
        name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: projects/51853309262/locations/global/workloadIdentityPools/my-pool/providers/my-provider
          service_account: github-actions-sa@ai-accounting-405809.iam.gserviceaccount.com
          access_token_lifetime: 300s

      - name: Login to Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: europe-west1-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Package and Push Helm Chart
        run: helm package . && helm push pyhchart-${{ github.ref_name }}.tgz oci://europe-west1-docker.pkg.dev/ai-accounting-405809/ml-helm-charts
