name: Package Helm Chart

on: 
  push:
  pull_request:

jobs:
  helm-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v3

      - name: Lint Helm Chart
        run: helm lint .

      - name: Package Helm Chart
        run: helm package .
